@media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: fixed;
    left: 0;
    top: 0;
  }
}

.content {
  overflow:auto;
  width: 302px;
}

#left  {
  float:left;
  width: 40%;
  min-height: 200px;
  position: relative;
}

#right {
  float:right;
  width: 60%;
}

#object1 {
  bottom: 30px;
  right: 0px;
  position: absolute;
  width: 100%;
  text-align: right;
  opacity: 0.3;
}

#object3 {
  bottom: 120px;
  position: absolute;
  width: 100%;
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
}

#object4 {
  bottom:100px;
  position: absolute;
  width: 100%;
  text-align: left;
  padding-left: 5px;
  font-size: 15px;
}

#object5 {
  bottom: 50px;
  position: absolute;
  width: 100%;
  text-align: left;
  padding-left: 26px;
  font-size: 60px;
  font-weight: 900;
}

.ficha {
  border-style: dotted;
  border-color: grey;
  border-radius: 5px;
  border-width: 0.9px;
}
